@model IEnumerable<UI.Models.PersonViewModel>

@{
    ViewData["Title"] = "Data Table";
}



<h1>SearchData</h1>

<h3>The columns titles are merged with the filters inputs thanks to the placeholders attributes</h3>
<hr>
<div class="row">
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            <h3 class="panel-title">Users</h3>
            <div class="pull-right">
                <button class="btn btn-default btn-xs btn-filter">Filter</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="filters">
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.PersonID) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.FirstName) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.LastName) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.DateOfBirth) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.Gender) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.MaritalStatus) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.EmailAddress) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.PhoneNumber) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.StreetAddressLine1) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.StreetAddressLine2) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.City) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.State) disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder=@Html.DisplayNameFor(model => model.Zip) disabled>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PersonID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaritalStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetAddressLine1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetAddressLine2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
